*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
#Box{
	min-width: 1130px;
	border-bottom: 1px #CCC7C7 solid;
}
.header{
	width: 1130px;
	margin:0 auto;
}
.headerContent>li:hover a{
	color:red;
}
.headerContent>li{
	list-style: none;
	display: inline-block;
	line-height: 60px;
	font-size: 17px;
	margin-left: 50px;
}
.headerContent>li:nth-child(4) a{
	color:red;
}
.headerContent{
	margin-left: 15px;
	overflow: hidden;
}
.headerContent>li>a{
	color:black;
}
.headerContent{
	display: inline-block;
}
.logo_title>img{
	width: 135px;
	height: 60px;
}
.headerContent>li:nth-child(6){
	float: right;
}
.search>img{
	float: right;
	margin-top: -40px;
	margin-right: 90px;
}
.search>img:hover{
	transform: scale(1.1);
}
.search>p:hover{
	background-color: red;
}
.search>p:hover a{
	color: white;
}
.search>p{
	float: right;
	margin-top: -45px;
	display: inline-block;
	width: 50px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 3px;
	border:1px red solid;
}
.search>p>a{
	color:red;
}


.main{
	min-width: 1130px;
}
.main_all{
	width: 1130px;
	margin:0 auto;
	margin-top:50px;
	overflow: hidden;
}
.main_left{ 
	list-style: none;
	display: inline-block;
	width: 270px;
	height: 320px;
	background-color: #f3f3f3;
	border-radius: 8px;
	float: left;
}
.main_left>li:nth-child(1){
	font-size: 21px;
	margin-top: 35px;
	margin-left: 40px;
}
.main_left>li:nth-child(2){
	width: 250px;
	text-align: center;
	margin-left: 10px;
	margin-top: 5px;
}
.main_left>li:nth-child(3){
	font-size: 18px;
	margin-top: 20px;
	margin-left: 37px;
}
.main_left>li:nth-child(4)>ul{
	list-style:none;
	font-size: 14px;
	color: #48494d;
	margin-left: 50px;
	margin-top: 5px;
}
.main_left>li:nth-child(5){
	font-size: 18px;
	margin-top: 35px;
	margin-left: 37px;
}
.main_left>li:nth-child(6) ul{
	list-style:none;
	font-size: 14px;
	color: #48494d;
	margin-left: 50px;
	margin-top: 5px;
	width: 625px;
}
.main_right{
	float: left;
	width: 700px;
	height: 1000px;
	list-style: none;
	margin-left: 30px;
	border-radius: 8px;
	background-color: #f3f3f3;
}
.main_right>li:nth-child(1){
	font-size: 21px;
	margin-top: 35px;
	margin-left: 30px;
}
.main_right>li:nth-child(2){
	width: 635px;
	text-align: center;
	margin-left: 30px;
	margin-top: 5px;
}
.main_right>li:nth-child(3){
	font-size: 18px;
	margin-top: 30px;
	margin-left: 30px;
}
.main_right>li:nth-child(4) ul{
	list-style: none;
	margin-top: 30px;
	margin-left: 30px;
	font-size: 14px;
	color: #48494d;
	width: 625px;
}
.main_right>li:nth-child(4)>ul>li{
	margin-top: 10px;
}
.main_right>li:nth-child(5){
	font-size: 18px;
	margin-top: 60px;
	margin-left: 30px;
}
.main_right>li:nth-child(6)>ul{
	list-style: none;
	margin-top: 30px;
	margin-left: 30px;
	font-size: 14px;
	color: #48494d;
	width: 625px;
}
.main_right>li:nth-child(6)>ul>li{
	margin-top: 10px;
}
.main_right>li:nth-child(7){
	font-size: 18px;
	margin-top: 60px;
	margin-left: 30px;
}
.main_right>li:nth-child(8)>ul{
	list-style: none;
	margin-top: 30px;
	margin-left: 30px;
	font-size: 14px;
	color: #48494d;
	width: 625px;
}
.main_right>li:nth-child(8)>ul>li{
	margin-top: 10px;
}



.footer{
	min-width: 1130px;
	background-color: #505050;
	margin-top: 50px;
}
.cen{
	width: 1000px;
	margin: 0 auto;
	color: #C5C5C5;
	overflow: hidden;
	font-size: 12px;
}
.cen li{
	list-style: none;
}
.cen a{
	text-decoration: none;
	color: #C5C5C5;
}
.cen h4{
	color: white;
}
.cen div{
	margin-left: 35px;
	margin-top: 40px;
}
.er{
	float: left;
	margin-top: 40px;
}
.footer_1{
	float: left;
}
.footer_2{
	float: left;
}
.footer_3{
	float: left;
}
.footer_4{
	float: left;
}
.footer_5{
	float: left;
}
.footer_6{
	float: right;
	margin-right: 8px;
}
.footer_1 ul{
	margin-top: 20px;
}
.jk{
	margin-top: 15px;
}
.foot ul{
	margin-top: 25px;
}
.footer_4 ul{
	margin-top: 43px;
}
.foot h4{
	color:#E5E5E5;
}
.last{
	width: 1000px;
	margin: 0 auto;
	color: #C5C5C5;
	font-size: 12px;
	text-align: center;
	margin-top: 80px;
	padding-bottom: 15px;
}